.websites-posting {
    margin: 0 0 100px;
}

.websites-posting__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.websites-posting__title    {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #1E222E;
    margin: 0 auto 40px;
}

.websites-posting__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 32px;
}

.websites-posting__logo {
    cursor: pointer;
}

.website-posting__img {
    width: 286px;
    height: 326px;
    margin: 0 0 20px;

}

.websites-posting__abbr {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1E222E;
    margin: 0 0 8px;
}

.websites-posting__full {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #696E82;
    margin: 0 0 20px;
}